#todolist{margin:15px;}
table, th, td {
  padding:15px;
  }
.pointer-link {
    cursor:pointer;
  }
  @media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
{
  .w-50{width:98%!important;}
}